.btn{
    font-family: Sailec-Bold,Helvetica,sans-serif;
    letter-spacing: 0.5px;
    font-size: 12px;
}
.collapse{
    &.in{
        display: block !important;
    }
}
.navbar{
    &.gk-nav {
        a{
            color:#fff;
        }
        padding: 0.5rem 0;
        @include media-breakpoint-down(sm) {
            justify-content: unset;
         }         
        .navbar-toggler {
            padding: 0;
            font-size: 1rem;
            background: none;
            border: 0;
            .oi-menu{
                &:before{
                    color: #fff;
                }
            }
           
        }
        .navbar-brand{
        @include media-breakpoint-down(sm) {
            margin-right: 0;
            margin-left: 1rem;
            }
        }
    }
} 
.card{
    &.gk-card{
        border: 0 none;
        margin-right: 4px;
        .card-img-top{
        }
    }
}