.btn{
    font-family: Sailec-Bold,Helvetica,sans-serif;
    letter-spacing: 0.5px;
}
.collapse{
    &.in{
        display: block !important;
    }
}
.navbar{
    &.gk-nav {
        @include media-breakpoint-down(sm) {
            justify-content: unset;
         }         
        .navbar-toggler {
            padding: 0;
            font-size: 1rem;
            background: none;
            border: 0;
        }
        .navbar-brand{
        @include media-breakpoint-down(sm) {
            margin-right: 0;
            margin-left: 1rem;
            }
        }
    }
} 